* {
  font-family: 'Poppins', sans-serif;
  }
body {
   background-color: #ffffff;
   padding: 0;
   margin: 0;
   max-width: 100vw;
 }

 p {
   text-align: center;
 } 
 
 #yt {
   display: block;
   margin: 0 auto;
   height: 400px;
   width: 40%;
 }
 #yt iframe {
   width: 100%;
   height: 100%;
 }
 
 #anders {
  margin-inline: auto;
  max-width: 700px;
  text-align: center;
 }
 
 .text {
   text-align: center;
   margin-inline: auto;
   width: 60%;
 }
 
 .pic {
   text-align: center;
   margin-inline: auto;
   max-width: 570px;
 }
 
 .top {
   text-align: center;
   max-width: 8%;
   background-color: maroon;
   border-radius: 5em;
 }
 
 h1 {
   text-align: center;
 }
 
 h2 {
   text-align: center;
   width: 570px;
   margin: 0 auto;
   border-radius: 10em;
 }
 
 h3 {
   text-align: center;
   max-width: 60%;
   margin: 0 auto;
   border-radius: 10em;
   background-color: maroon;
 }
 
 
 .hgclogo {
   max-width: 300px;
   text-align: center;
   margin: 0 auto;
 }

 .head {
  text-align: center;
 }

 /* Knapp */
 
 .slider {
   position: relative;
   max-width: 300px;
   max-height: 300px;
 }
 
 .slider img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   opacity: 1;
   transition: opacity 1s ease-in-out;
 }
 
 .slider img.active {
   opacity: 1;
 }
 
 #knapp {
   display: flex;
   position: relative;
   left: 30%; 
   background-color: #ffffff;
 }
 
 